<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Impuestos</title>
</head>
<body>
  <div class="admin-reset admin-container admin-stock-container">
    <h1 class="admin-title">Impuestos para <%= @producto['Nombre'] %></h1>
    <table class="admin-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Porcentaje</th>
          </tr>
        </thead>
        <tbody>
          <% @impuestos.each do |impuesto| %>
            <tr>
              <td><%= impuesto['Nombre'] %></td>
              <td><%= number_with_precision(impuesto['Porcentaje'], precision: 2) %>%</td>
            </tr>
          <% end %>
        </tbody>
    </table>

    <form action="/cliente/factura" method="get">
      <button type="submit" class="admin-btn admin-btn-back">Volver</button>
    </form>
  </div>
</body>
</html>