<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio de Sesi贸n - Facturaci贸n Electr贸nica</title>
    </head>
    <body>
      <div class="admin-container">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <h1>Administrador</h1>
        <p>Por favor, selecciona la operacion a realizar</p>
        
        <form action="/admin/stock" method="get">
          <button type="submit" class="btn admin-btn-primary">Gestionar Stock</button>
        </form>
        
        <form action="/admin/movimientos_stock" method="get">
          <button type="submit" class="btn admin-btn-info">Movimientos de Stock</button>
        </form>
        
        <form action="/admin/impuesto" method="get">
          <button type="submit" class="btn admin-btn-secondary">Gestionar Impuestos</button>
        </form>

        <%= form_with url: logout_path, method: :delete, local: true do |f| %>
          <%= f.submit "Cerrar Sesi贸n", class: "btn-logout" %>
        <% end %>
      </div>
    </body>
</html>