@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #020024;
  background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(60, 1, 102, 1) 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.login-container {
  padding: 2.5rem;
  border-radius: 100px;
  backdrop-filter: sepia(50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 1000%;
  max-width: 400px;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  color: #7f8c8d;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #2c3e50;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #3498db;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  width: 100%;
}

.btn:hover {
  background-color: #2980b9;
}

.btn-primary {
  background-color: #7644eb;
}

.btn-primary:hover {
  background-color: #a688ee;
}

.btn-secondary {
  background-color: #4447eb;
  margin-top: 1rem;
}

.btn-secondary:hover {
  background-color: rgb(109, 130, 247);
}

.btn-logout {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.btn-logout:hover {
  background-color: #c82333;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #2980b9;
}

p[style="color: red;"] {
  background-color: #ffecec;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

form {
  margin-bottom: 1.5rem;
}

.input-color {
  background-color: #181818;
  color: #a1a1a1;   
  border: 1px solid #ccc; 
  padding: 8px;
  border-radius: 4px;
}
